


.carHeader{
    display: flex;
    justify-content: left;
    width: 990px;
    height: 50px;
    margin: 0 auto;
    margin-top: 15px;
}
.logo {
    width: 355px;
    height: 50px;
    background: url(../img/car北京logo.jpg) no-repeat left top;
}
.cartStep{
    width: 600px;
    height: 20px;
    line-height: 20px;
    margin: 15px 0 0 35px;
   
  
}
.cartStep ul li{
    background-color: #e8e8e8;
    color: #666;
    font-size: 12px;
    float: left;
    width: 200px;
    height: 20px;
    text-align: center;
    position: relative;
}
.cartStep ul li:nth-of-type(1){
    color: #fff;
    background: #333;
    
}
.cartStep li em {
    right: -12px;
    top: -2px;
    border: 12px dashed transparent;
    border-left: 12px solid #fff;
    border-right: 0;
}
.cartStep li em, .cartStep li i {
    width: 0;
    height: 0;
    line-height: 0;
    position: absolute;
    z-index: 1;
}
.cartStep li i {
    right: -9px;
    top: 0;
    border: 10px dashed transparent;
    border-left: 10px solid #e8e8e8;
    border-right: 0;
}
.cartStep li.current i {
    border-color: transparent transparent transparent #333;
}

.carMainAll{
    min-height: 550px;
}
.carMain{
    margin:20px auto 0;
    width: 990px;
    border: 1px solid #eee;
    font-size: 12px;
}
.carMainT{
    width: 100%;
    height: 50px;
    padding: 8px 0;
    box-sizing: border-box;
    border-bottom: 1px solid #eee;
}
.carMainD{
    width: 100%;
}
.carMainD ul{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.carMainD>li{
    width: 100%;
    height: 102px;
    border-bottom: 1px solid #eee;
}
.carDataPer li{
    float: left;
    height: 102px;
    line-height: 102px;
}
.carDataPer li img{
   width: 60px;
   height: 60px;
   border: 1px solid #eee;
   padding: 10px;
} 
.li1{
    width: 30px;
}
.li2{
    margin-top: 10px;
    width: 100px;
}
.li3{
    width: 320px;
}
.li4{
    width: 140px;
    padding-left: 20px;
    box-sizing: border-box;
}
.li5{
    width: 150px;
    display: flex;
    justify-items: left;
}
.li5 input{
    line-height: 24px;
    text-align: center;
    margin-top: 40px;
    width: 28px;
    height: 24px;
    display: inline-block;
    border: 1px solid #ccc;
    border-right: none;
    border-left: none;
}
.li5 a{
    line-height: 24px;
    margin-top: 40px;
    text-align: center;
    width: 28px;
    height: 24px;
    display: block;
    border: 1px solid #ccc;
    
}
.li6{
    width: 150px;
}
.li7{
    width: 100px;
}

.carMainF{
    

    height: 54px;
    background-color:#eee;
    width: 990px;
   
}
.carMainFL{
    width: 250px;
    float: left;
}
.carMainFL a{
    width: 72px;
    height: 21px;
    display: inline-block;
    font-size: 12px;
    text-align: center;
    background: #333;
    color: #fff;
    line-height: 21px;
    margin-top: 17px;
    margin-left: 20px;
}
.carMainFR{
    float: right;
    display: flex;
    justify-content: space-around;
    width: 350px;
    text-align: center;
    line-height: 52px;
}
.carMainFR strong:nth-of-type(1){
    font-size: 12px;
    color: #666;
}
.carMainFR strong:nth-of-type(2){
    
    font-size: 16px;
    color: #666;
}
.carMainFR strong:nth-of-type(3){ 
    display: inline-block;
    width: 100px;
    font-size: 20px;
    color: #333;
    font-family: '宋体'
}
.carMainFR a{
    display: inline-block;
    background: #333;
    text-indent: 0;
    text-align: center;
    color: #fff;
    font-size: 14px;
    line-height: 54px;
    
    width: 129px;
    height: 54px
}
.carMainB{
    height: 204px;
    width: 100%;
    padding: 30px 290px;
    box-sizing: border-box;
    color: #666;
}
.carMainB i{
    display: block;
    background: url(../img/去结算购物车.png) no-repeat -30px -153px;
    width: 70px;
    height: 57px;
    margin-right: 30px;
    float: left;
}
.carMainBaby{
    float: right;
}
.carMainB a{
    background: #333;
    border: 1px solid #333;
    border-radius: 3px;
    width: 90px;
    height: 26px;
    display: block;
    font: bold 14px/26px '';
    text-align: center;
    color: #fff;
    margin: 20px 0;
}
.carMainBaby p:nth-of-type(1){
   font-size: 14px;
    font-weight: 500px;
}

.footer{
    border-top: 1px solid #d9d9d9;
    padding-top: 10px;
    text-align: center;
    height: 60px;
    margin-top: 10px;
    color: #666;
    font-size: 12px;
}



